@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
  font-family: 'Lora', sans-serif;
  background-color: #E1D9D1;
}

:root {
  --teal: #00788C;
  --teal-light: #1B7895;
}
#fake-for-scroll{
  margin: 0.9375rem;
  visibility: hidden;
}


/************************** Navbar ******************/

.logo{
  width: 4.25rem;
}

nav {
  z-index: 2;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: rgb(209, 205, 199) !important;
  margin-right: 0.65rem;
  margin-left: 0.65rem;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-brand {
max-width: 17.25rem;
padding: 0 !important;
}

/* .navbar-nav > li > a.active:focus {
border-top: 0.1875rem solid var(--teal);
} */

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--teal);
}
/* .sticky-top {
  position: sticky;
} */


/************************** Header ******************/

.header-wrapper {
position: relative;
background: url(./img/background.png) no-repeat;
background-size: cover;
background-position: center;
height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  text-transform: uppercase;
  color: var(--teal);
}

/************************** Typed text ******************/

.typed-text {
  font-size: 2rem;
  color: white;
}

/************************** Main offer button ******************/

.btn-main-offer {
border: 0.0625rem solid black;
text-transform: uppercase;
border-radius: 0;
padding: 0.75rem;
color: white;
margin: 2rem;
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color: white;
  color: white;
  background-color: var(--teal);
  transition: .2s ease-in-out;
}

/************************** Particles ******************/

.tsparticles-canvas-el {
position: absolute;
/* height: 100% !important;
width: 100% !important; */
z-index: 1;
}

/************************** About Me ******************/
/* #scroll-about {
  overflow-y: scroll;
} */
.img-fluid {
border-radius: 50%;
max-width: 70%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 8%;
margin-bottom: 5%;
}
#aboutH {
  text-align: center;
  margin-top: 8%;
  margin-bottom: 5%;
  color: var(--teal);
  text-transform: uppercase;
}
#about-p {
  /* line-height: 1.8rem; */
  /* font-style: italic; */
  font-size: 1.74vw;
  color: rgb(30, 40, 40);
}

/************************** Curriculum ******************/
#cv-row {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
#cvh2 {
  color: var(--teal);
  vertical-align: middle;
  margin-bottom: 5%;
  margin-top: 5%;
  text-transform: uppercase;
  margin: auto;
}
.curriculum-li{
  margin-bottom: 7%;
}
.class-h5 {
  color: var(--teal);
}
.curriculum-p {
  font-size: 0.8em;
}
#cvh4, #cvh5 {
  text-align: center;
}
#cvh4 {
  margin-top: 5%;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: var(--teal-light);
  display: inline-block;
  position: absolute;
  left: 1.8rem;
  width: 0.125rem;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 2vw, 0;
  padding-left: 2vw;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 0.1875rem solid var(--teal-light);
  left: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  z-index: 400;
}

/************************** Studies ******************/
#studies-row {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
#studies-h2 {
  color: var(--teal);
  vertical-align: middle;
  margin-bottom: 5%;
  margin-top: 5%;
  text-transform: uppercase;
  margin: auto;
}
#studies-last-row {
  padding-bottom: 5%;
}
#studies-img {
  text-align: center;
}

/*********************** Carousel ********************/
#portfolio-row {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 6%;
}
#portfolio-h2 {
  color: var(--teal);
  vertical-align: middle;
  margin-bottom: 5%;
  margin-top: 5%;
  text-transform: uppercase;
  margin: auto;
}

.carousel-inner {
  width:70%;
  height:70%;
  margin: auto;
}
#carousel-h5 {
  color: #00788C;
  margin-top: 2%;
}
#carousel-p {
  margin-bottom: 3%;
  /* height: 20vw; //to fix the changing of the following div!
  width: 80vw; */
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}



/************************** Footer ******************/

#link-footer:hover {
  color: rgb(51, 162, 255); ;
}
.text-uppercase, #link-footer, #footer-p, .footer-copyright {
  color: rgb(209, 205, 199);
}



/************************** Media ******************/

@media(max-width: 768px){

  .sticky-top {
  position: static;
}

  .particles-canvas {
    display: none;
  }
  .main-info h1 {
    font-size: 1.8rem !important;
  }
  .typed-text {
    font-size: 1.4rem !important;
  }
  .navbar-brand {
    width: 7rem;
  }
  .navbar-nav > li > a:hover {
    border-top: 0.18rem solid var(--teal);
    width: 5.625rem;
  }

  .navbar-nav > li > a {
    margin-left: 40%;
  }
  .logo {
    max-width: 2.8rem;
    max-height: 2.8rem;
  }
/****************************  About Me */
  #aboutH {
    font-size: 1.75rem;
    margin-top: 4%;
  }
  #about-p {
    font-size: 1.2rem;
  }
  /******************************  Curriculum */
  
  #cvh2 {
    font-size: 1.75rem;
    /* margin-top: 3%; */
  }
  #cvh4, #cvh5 {
    font-size: 1.2rem;
  }
  .class-h5 {
    font-size: 1.15rem;
  }
  .curriculum-p {
    font-size: 0.7em;
  }
  .curriculum-p2 {
    font-size: 0.9rem;
  }
  ul.timeline {
    list-style-type: none;
    position: relative;
  }
  ul.timeline:before {
    left: 17vw;
  }
  ul.timeline > li {
    padding-left: 16vw;
  }
  ul.timeline > li:before {
    left: 15.2vw;
  }
  

    /******************************  Studies, form, carousel */
  #studies-picture {
    max-width: 75%;
    margin: auto;
    margin-bottom: 5%;    
  }
  .card-title {
    font-size: 1.25rem;
  }
  .card-text {
    font-size: .7rem;
  }

    #studies-h2 {
      font-size: 1.75rem;
  }
    #form-h5{
      font-size: 1rem;
  }
    .carousel-inner {
      width: 80%;
      height: 80%;
  }
  #carousel-h5 {
    color: #212529;
  }


} /*  CLOSING @media(max-width: 768px) */




