@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body{
  font-family: 'Oswald', sans-serif;
}

/************************** Navbar ******************/

.logo{
  width: 4.25rem;
}

nav {
  z-index: 2;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: rgb(209, 205, 199) !important;
  margin-right: 0.65rem;
  margin-left: 0.65rem;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-brand {
max-width: 17.25rem;
padding: 0 !important;
}

/* .navbar-nav > li > a.active:focus {
border-top: 0.1875rem solid orange;
} */

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid orange;
}


/************************** Header ******************/

.header-wrapper {
position: relative;
background: url(./img/background.png) no-repeat;
background-size: cover;
background-position: center;
height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  text-transform: uppercase;
  color: orange;
}

/************************** Typed text ******************/

.typed-text {
  font-size: 2rem;
  color: white;
}

/************************** Main offer button ******************/

.btn-main-offer {
border: 1px solid red;
text-transform: uppercase;
border-radius: 0;
padding: 0.75rem;
color: white;
margin: 2rem;
}
.btn-main-offer:hover {
  text-decoration: none;
  background-color: white;
  color: white;
  background-color: orange;
  transition: .2s ease-in-out;
}

/************************** Particles ******************/

.tsparticles-canvas-el {
position: absolute;
/* height: 100% !important;
width: 100% !important; */
z-index: 1;
}

/************************** About Me ******************/

.img-fluid {
border-radius: 50%;
max-width: 70%;
height: auto;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 5%;
margin-bottom: 5%;
}
#aboutH {
  /* font-size: 2.5vw; */
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: orange;
  text-transform: uppercase;
}
#about {
  letter-spacing: 0.0625rem;
  /* line-height: 1.8rem; */
  font-style: italic;
  font-size: 1.8vw;
  color: rgb(30, 40, 40);
}

/************************** Curriculum ******************/
#cv-row {
  text-align: center;
  margin-bottom: 5%;
}
#cvh2 {
  color: orange;
  vertical-align: middle;
  margin-bottom: 5%;
  margin-top: 5%;
  text-transform: uppercase;
  margin: auto;
}
.border-light {
  /* max-width: 25rem; */
  max-width: 25vw;
  min-width: 25vw;
}
#card1, #card3, #card5 {
margin-left: 26%;
clear: both;
}
#card2, #card4 {
  margin-right: 26%;
  float: right;
}

#cvh4, #cvh5 {
  text-align: center;
}
.card-title{
  text-transform: uppercase;
}
.card-title2{
  text-decoration: underline;
}
.card-text{
  font-style: italic;
}

/************************** Studies ******************/
#studies-row {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}
#studies-h2 {
  color: orange;
  vertical-align: middle;
  margin-bottom: 5%;
  margin-top: 5%;
  text-transform: uppercase;
  margin: auto;
}
#studies-last-row {
  padding-bottom: 5%;
}
#studies-img {
  text-align: center;
}

/*********************** Carousel ********************/

.carousel-inner {
  width:70%;
  height:70%;
  margin: auto;
}



/************************** Footer ******************/

#link-footer:hover {
  color: rgb(51, 162, 255); ;
}
.text-uppercase, #link-footer, #footer-p, .footer-copyright {
  color: rgb(209, 205, 199);
}



/************************** Media ******************/

@media(max-width: 768px){
  .particles-canvas {
    display: none;
  }
  .main-info h1 {
    font-size: 1.8rem !important;
  }
  .typed-text {
    font-size: 1.4rem !important;
  }
  .navbar-brand {
    width: 7rem;
  }
  .navbar-nav > li > a:hover {
    border-top: 0.18rem solid orange;
    width: 70px;
  }

  .navbar-nav > li > a {
    margin-right: 15rem;
    margin-left: 15rem;
  }
/****************************  About Me */
  .img-fluid {
    max-width: 100%;
    margin-top: 30%;
    }

  #aboutH {
    /* font-size: 3vw; */
    font-size: 1.75rem;
  }
  #about {
    font-size: 2.3vw;
  }
  /******************************  Curriculum */
  #card1, #card2, #card3, #card4, #card5 {
    margin-left: 0;
    margin-right: 0;
    float: none;
    margin: auto;
  }
  .border-light {
    max-width: 50vw;
  }
  #cvh2 {
    font-size: 1.75rem;
    /* margin-top: 3%; */
  }
  #cvh4, #cvh5 {
    font-size: 1.25rem;
  }

    /******************************  Studies */
    #studies-picture {
      max-width: 50%;
      margin-left: 25%;
     margin-bottom: 5%;    
  }


} /*  CLOSING @media(max-width: 768px) */

